@import "rsuite/lib/styles/index.less";

.blog-content {
  font-family: "Open Sans";
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Heebo";
  }

  .mdx {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 1em 0 0 0;
    }
  }
}

.navbar-brand {
  padding: 18px 20px;
  display: inline-block;
}

.learn-something-new {
  .rs-tag {
    margin: 3px;
  }
}

.tag-block {
  margin: 0 0 1.2em 0;
}
