@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #131515;
    color: white;
}

main h1 {
    @apply text-5xl my-3;
}

main h2 {
    @apply text-4xl my-3;
}

main h3 {
    @apply text-3xl my-3;
}

main h4 {
    @apply text-2xl my-3;
}

main h5 {
  @apply text-xl my-2;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 100%;
  }
}

* {
  font-family: "Open Sans";
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora";
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0 0 0;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

p {
  margin: 40px 0;
}

p,
li {
  font-size: 1.4rem;
  margin: 2rem 0;
  line-height: 1.8rem;
}

nav li {
  margin: 0;
}

nav a {
    color: white;
}

.ui.selection.dropdown {
  color: black;
}

main a {
  color: #2ae792;
  background: linear-gradient(to bottom, #2ae792 0%, #2ae792 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  text-decoration: none;
  transition: background-size 0.2s, color 0.2s;
}

main a.no-bg {
    background: none;
    background-size: 0px 0px;
}

main a:hover {
    color: black;
    background-size: 4px 50px;
}

.blog-content .mdx {
    margin-top: 1rem;
}

.blog-content .mdx h1,
.blog-content .mdx h2,
.blog-content .mdx h3,
.blog-content .mdx h4,
.blog-content .mdx h5,
.blog-content .mdx h6 {
    margin: 1rem 0 0 0;
}

.blog-content .mdx pre {
    font-size: 1.4rem;
    line-height: 2rem;
    overflow: auto;
}

.blog-content .mdx .aligncenter,
.blog-content .mdx .wp-block-image {
    text-align: center;
}

.blog-content .headsup {
    padding: 15px;
}

.blog-content .headsup h4 {
    margin: 0;
}

.blog-content .headsup a {
    color: #0d2f0f
}

.form input[type="text"],
.form input[type="email"] {
  color: black !important;
}

.learn-something-new h2 {
    color: white;
    margin: 0 0 1rem 0;
}

.tag-block {
  margin: 0 0 1.2rem 0;
}

.fancy-background-1 h1,
.fancy-background-1 h2,
.fancy-background-1 h3,
.fancy-background-1 h4,
.fancy-background-1 h5,
.fancy-background-1 h6 {
    color: white;
    text-align: center;
}

.fancy-background-1 a {
    color: #ff6b6b;
}

.fancy-background-1 nav a {
    color: white;
}

.fancy-background-1 {
  background-color: #131515;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2340916c' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  animation: animatedBackground 40s linear infinite;
}

 /* We do this because originally the old bradcypert.com site was a "light theme" only, so several PNGs had */
/* transparent backgrounds and dark text. */
.gatsby-image-wrapper {
  background: white;
}
